*.egg-info
bar_els__d1_1009_d2_1280_d3_1_order_F_frames_28_.mmap
bar_rig__d1_1009_d2_1280_d3_1_order_F_frames_28_.mmap
bar.tif
results/set_01_sample_000_first_bkgd.png
results/set_01_sample_000_first_bkgd_color.png
