*.egg-info
bar_els__d1_1009_d2_1280_d3_1_order_F_frames_28_.mmap
bar_rig__d1_1009_d2_1280_d3_1_order_F_frames_28_.mmap
bar.tif
results/set_01_sample_000_first_bkgd.png
results/set_01_sample_000_first_bkgd_color.png
results/set_01_sample_000_100test_corr_comparison.png
np.ndarray
docs/demo.ipynb
ffmpeg/LICENSE
ffmpeg/README.txt
ffmpeg/bin/ffmpeg.exe
ffmpeg/bin/ffplay.exe
ffmpeg/bin/ffprobe.exe
ffmpeg/doc/bootstrap.min.css
ffmpeg/doc/default.css
ffmpeg/doc/developer.html
ffmpeg/doc/faq.html
ffmpeg/doc/fate.html
ffmpeg/doc/ffmpeg-all.html
ffmpeg/doc/ffmpeg-bitstream-filters.html
ffmpeg/doc/ffmpeg-codecs.html
ffmpeg/doc/ffmpeg-devices.html
ffmpeg/doc/ffmpeg-filters.html
ffmpeg/doc/ffmpeg-formats.html
ffmpeg/doc/ffmpeg-protocols.html
ffmpeg/doc/ffmpeg-resampler.html
ffmpeg/doc/ffmpeg-scaler.html
ffmpeg/doc/ffmpeg-utils.html
ffmpeg/doc/ffmpeg.html
ffmpeg/doc/ffplay-all.html
ffmpeg/doc/ffplay.html
ffmpeg/doc/ffprobe-all.html
ffmpeg/doc/ffprobe.html
ffmpeg/doc/general.html
ffmpeg/doc/git-howto.html
ffmpeg/doc/libavcodec.html
ffmpeg/doc/libavdevice.html
ffmpeg/doc/libavfilter.html
ffmpeg/doc/libavformat.html
ffmpeg/doc/libavutil.html
ffmpeg/doc/libswresample.html
ffmpeg/doc/libswscale.html
ffmpeg/doc/mailing-list-faq.html
ffmpeg/doc/nut.html
ffmpeg/doc/platform.html
ffmpeg/doc/style.min.css
ffmpeg/presets/libvpx-360p.ffpreset
ffmpeg/presets/libvpx-720p.ffpreset
ffmpeg/presets/libvpx-720p50_60.ffpreset
ffmpeg/presets/libvpx-1080p.ffpreset
ffmpeg/presets/libvpx-1080p50_60.ffpreset
results/set_01_sample_001.avi
src/tools/__pycache__/get_images.cpython-39.pyc
src/tools/__pycache__/get_shifts.cpython-39.pyc
src/tools/__pycache__/load_image_array.cpython-39.pyc
src/tools/__pycache__/sort_nicely.cpython-39.pyc
src/tools/__pycache__/get_images.cpython-39.pyc
src/tools/__pycache__/get_shifts.cpython-39.pyc
src/tools/__pycache__/load_image_array.cpython-39.pyc
src/tools/__pycache__/sort_nicely.cpython-39.pyc
src/__pycache__/__init__.cpython-39.pyc
tests/set_01_sample_003_blood_flow_00.csv
figure 1.png
